<header class="setheight">
  <div class="navbar navbar-inverse-blue navbar">
    <div class="navbar-inner">
      <div class="container">
          <div class="menu" style="display:none;"><img src="" alt="No Logo"></div>
        <div class="pull-left">
          <nav class="navbar nav_bottom" role="navigation">
            <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">Menu
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav nav_1">
                <!-- <li class="active"><a routerLink='PO'>Home</a></li> -->
                <li class="setbtn active"><a routerLink="PO">Purchase Order</a></li>
                <li class="setbtn"><a routerLink="Inventory">Inventory / BOM</a></li>
                <li class="setbtn"><a routerLink="Fixtures">Families And Fixtures</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<!-- footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-info w3-agileits-info">
        <div class="col-md-4 address-left agileinfo">
          <div class="footer-logo header-logo">
            <h6>Get in Touch.</h6>
          </div>
          <ul>
            <li><i class="fa fa-map-marker"></i> 123 San Sebastian, New York City USA.</li>
            <li><i class="fa fa-mobile"></i> 333 222 3333 </li>
            <li><i class="fa fa-phone"></i> +222 11 4444 </li>
            <li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@example.com</a></li>
          </ul>
        </div>
        <div class="col-md-8 address-right">
          <div class="col-md-4 footer-grids">
            <h3>Company</h3>
            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="feedback.html">Feedback</a></li>
              <li><a href="help.html">Help</a></li>
              <li><a href="tips.html">Safety Tips</a></li>
              <li><a href="typo.html">Typography</a></li>
              <li><a href="icons.html">Icons Page</a></li>
            </ul>
          </div>
          <div class="col-md-4 footer-grids">
            <h3>Quick links</h3>
            <ul>
              <li><a href="terms.html">Terms of use</a></li>
              <li><a href="privacy_policy.html">Privacy Policy</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="sitemap.html">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-md-4 footer-grids">
            <h3>Follow Us on</h3>
            <section class="social">
              <ul>
                <li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </section>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container">
      <p>© 2019 Match. All rights reserved | Design by <a href="http://aneeshnetworking.com">Aneesh Networking</a></p>
    </div>
  </div>
</footer>